

<div class="problem-canvas">
  <mat-tab-group>
    <mat-tab label="Description" style="font-family: 'Montserrat', light;
    font-weight: bold;"> 
      <div class="DescriptionTab">
        <div class="lefthandside">
          <app-problem-statement></app-problem-statement>
        </div>
        <div class="righthandside">
        <ngx-codemirror
        class="editor"
          [(ngModel)]="originalCode"
          [options]="{
            lineNumbers: true,
            theme: 'material',
            mode: 'markdown',
            lineWrapping: true
          }"
        ></ngx-codemirror>
        <button class="submit-button">Submit Code</button>
      </div>
      </div>
    </mat-tab>
    <mat-tab label="Solution"> Content 2 </mat-tab>
    <mat-tab label="Discuss"> Content 3 </mat-tab>
  </mat-tab-group>
</div>

