<div class="box">
  <ul class="nav">
    <li class="nav-item">
      <a
        class="nav-link active"
        routerLink="{{ descriptionUrl }}"
        aria-current="page"
        href="#"
        style="color: black; font-family: Montserrat; font-size: 1.5em"
        >Description</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="{{ solutionUrl }}"
        href="#"
        style="color: black; font-family: Montserrat; font-size: 1.5em"
        >Solution</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="{{ discussUrl }}"
        href="#"
        style="color: black; font-family: Montserrat; font-size: 1.5em"
        >Discuss</a
      >
    </li>
  </ul>
  <div class="main-row">
    <div class="lefthandside">
      <app-problem-statement></app-problem-statement>
    </div>
    <div class="righthandside">
      <ngx-codemirror
        class="editor"
        [(ngModel)]="originalCode"
        [options]="{
          lineNumbers: true,
          theme: 'material',
          mode: 'markdown',
          lineWrapping: true
        }"
      ></ngx-codemirror>
      <button class="submit-button">Submit Code</button>
    </div>
  </div>

