  .problemTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: 'Montserrat', light;

}
.description{
    width: 100%;
    padding: 5px;
    font-family: 'Montserrat', light;
}
.examples{
  width:100%;
  display:flex;
  flex-direction:column; 
  align-content: space-around;
  
}
.problem{
  align-content: flex-start;
  border-radius: 20px;
  width:100%;
  padding-right: 2%;
  margin-top: 10%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 50%;
  scrollbar-width: thin;
}
