<div class="problem">
    <div class="problemTitle">
        <h2 class="title">1. Two Sum</h2>
        <h2 style ="color: #238823;"class="difficulty">Easy</h2>
        
    </div>
    <div class="description">
        <p>
            Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.
        </p>
        <div class="examples">
            <app-example *ngFor="let example of examples; let i = index;" [example] = "example"></app-example>
        </div>
    </div>
</div>
