.app{
  min-width: 100%;
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
     /* ff 3.6+ */
     background:-moz-linear-gradient(179deg, rgba(2, 0, 198, 0.7) 25%, rgba(255, 139, 0, 0.58) 65%); 

     /* safari 5.1+,chrome 10+ */
     background:-webkit-linear-gradient(179deg, rgba(2, 0, 198, 0.7) 25%, rgba(255, 139, 0, 0.58) 65%);
 
     /* opera 11.10+ */
     background:-o-linear-gradient(179deg, rgba(2, 0, 198, 0.7) 25%, rgba(255, 139, 0, 0.58) 65%);
 
     /* ie 6-9 */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF8B00', endColorstr='#0200C6', GradientType=1 );
 
     /* ie 10+ */
     background:-ms-linear-gradient(179deg, rgba(2, 0, 198, 0.7) 25%, rgba(255, 139, 0, 0.58) 65%);
 
     /* global 94%+ browsers support */
     background:linear-gradient(179deg, rgba(2, 0, 198, 0.7) 25%, rgba(255, 139, 0, 0.58) 65%);
 
}
