<div class="app" >
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
  
    <div class="navbar">  
      <button class="home-button"  routerLink="/home" >LeechCode</button>     
      <button class="navbar-button" routerLink="/about">About us</button>
      <button class="navbar-button" routerLink="/problem">Problems</button>
      <button class="navbar-button" routerLink="/discuss">Discuss</button>
      <button class="navbar-button" routerLink="/admin">Sign in</button>
</div>
  
  
</div>
<router-outlet></router-outlet>
