
<div class="background">
    <div class="box">
        <div class="title">
            <div class="navbar">
                <div class="pages">
                  
                        <button class="aboutusbtn">About us</button>
                        <button class="problemsbtn">Problems</button>
                        <button class="discussbtn">Discuss</button>
                        <button class="signinbtn">Sign in</button>

                </div>
            </div>
        </div>
        <button class="title">LeechCode</button>

    </div>
    <div class="infolayout">
        <div class="infotext">
            Ace
            your coding interviews.
        </div>
        <div class="info2text">
            improve your coding interviews through online coding to land your dream job.
        </div>
    </div> 
    
</div>