.box {
  /* octahedron 1 */

  position: static;
  width: 74px;
  height: 224px;
  left: 35px;
  top: 105.85px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}
.title {
  position: static;
  width: 173px;
  height: 80px;
  left: 135px;
  top: 179.85px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 80px;
  /* identical to box height, or 267% */
  display: flex;
  align-items: center;
  background: none;
  border: none;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 0px;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    
}


.infolayout {
  margin-top: 20%;
}
.infotext {
  position: static;
  width: 885px;
  height: 204px;
  left: 0px;
  top: 0px;
  margin-left: 5%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 80px;
  /* or 80% */
  display: flex;
  align-items: center;

  color: #f1f1f1;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.info2text {
  position: static;
  width: 887px;
  height: 156px;
  left: 0px;
  top: 204px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 50px;
  /* or 111% */
  display: flex;
  align-items: center;

  color: #f1f1f1;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}
