.text{
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 1.5%;
  color: white;
}

.paragraph{
  font-family:Montserrat; font-size: 5em;
  line-height: 1.3em;
}
.subtitle{
  font-family:Montserrat; font-size: 6em; font-weight: 1000;
}