<div class = "box">
    <div class="container">
        
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/admin/problemlist"  aria-current="page" href="#">Problem List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/createproblem" href="#">Create Problem</a>
            </li>
          </ul>
        <h3>Update Problem</h3>
    <form (ngSubmit)="updateProblem()">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)] = "problem.title" name ="title">
        </div>
        <div class="form-group">
            <label>TitleSlug</label>
            <input type="text" class="form-control" id="titleSlug" [(ngModel)] = "problem.titleSlug" name ="titleSlug">
        </div>
        <div class="form-group">  
            <label>Content</label>
            <input type="text" class="form-control" id="content" [(ngModel)] = "problem.content" name ="content">
        </div>
        <div class="form-group">
            <label>Difficulty</label>
            <input type="text" class="form-control" id="difficulty" [(ngModel)] = "problem.difficulty" name ="difficulty">
        </div>
        <div class="form-group">
            <label>ExampleTestCases</label>
            <input type="text" class="form-control" id="exampleTestCases" [(ngModel)] = "problem.exampleTestCases" name ="exampleTestCases">
        </div>
        <div class="form-group">  
            <label>Hints</label>
            <input type="text" class="form-control" id="hints" [(ngModel)] = "problem.hints" name ="hints">
        </div>
        <button class="btn btn-success">Submit</button>
    </form>
    </div>
    </div>