 <div class="navbar">  
    <button class="home-button"  routerLink="/home-page" routerLinkActive="active">LeechCode</button>     
    <button class="navbar-button" routerLink="/home-page" routerLinkActive="active">About us</button>
    <button class="navbar-button" routerLink="/problem-list" routerLinkActive="active">Problems</button>
    <button class="navbar-button">Discuss</button>
    <button class="navbar-button" >Sign in</button>
</div>

<div class="container-fluid">
    <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Likes</th>
        <th>Difficulty</th>
        <th>Dislikes</th>
     </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of problems">
        <td>{{project.title}}</td>
         <td>{{project.content}}</td>
        <td>{{project.likes}}</td>
        <td>{{project.difficulty}}</td>
        <td>{{project.dislikes}}</td>
    </tr>
    </tbody>
    </table>
</div>
