<html>
    <body>
<div class="background" >
    <div class="box">
        <div class="title">
            <div class="navbar">
                <div class="pages">
                  
                        <button class="aboutusbtn" routerLink="/home-page">About us</button>
                        <button class="problemsbtn" routerLink="/problem-list">Problems</button>
                        <button class="discussbtn" routerLink="/home-">Discuss</button>
                        <button class="signinbtn" >Sign in</button>

                </div>
            </div>

        </div>
        <button class="title" routerLink="/home-page">LeechCode</button>

    </div>
    <div class="infolayout">
        
    </div> 
    
</div>
</body>
</html>