<div class="box" style="background-color: white; border-radius: 20px">
  <ul class="nav">
    <li class="nav-item">
      <a
        class="nav-link active"
        routerLink="/admin/problemlist"
        aria-current="page"
        href="#"
        style="color:black; font-family: Montserrat; font-size: 1.5em;"
        >Problem List</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/createproblem" href="#"
      style="color:black; font-family: Montserrat; font-size: 1.5em;"
        >Create Problem</a
      >
    </li>
  </ul>
  <h3 style="color:black; font-family: Montserrat; font-size: 2em; font-weight: 400;">Create Problem</h3>
  <form (ngSubmit)="createNewProblem()">
    <div class="form-group">
      <label style="font-family: Montserrat; font-weight:bolder;">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="problem.title"
        name="title"
      />
    </div>
    <div class="form-group">
      <label style="font-family: Montserrat; font-weight:bolder;">TitleSlug</label>
      <input
        type="text"
        class="form-control"
        id="titleSlug"
        [(ngModel)]="problem.titleSlug"
        name="titleSlug"
      />
    </div>
    <div class="form-group">
      <label style="font-family: Montserrat; font-weight:bolder;">Content</label>
      <textarea
        type="text"
        class="form-control"
        id="content"
        [(ngModel)]="problem.content"
        name="content"
        rows="3"
      ></textarea>
    </div>
    <div class="form-group">
      <label style="font-family: Montserrat; font-weight:bolder;">Difficulty</label>
      <input
        type="text"
        class="form-control"
        id="difficulty"
        [(ngModel)]="problem.difficulty"
        name="difficulty"
      />
    </div>
    <div class="form-group">
      <label style="font-family: Montserrat; font-weight:bolder;">Example Test Cases</label>
      <input
        type="text"
        class="form-control"
        id="exampleTestCases"
        [(ngModel)]="problem.exampleTestCases"
        name="exampleTestCases"
      />
    </div>
    <div class="form-group">
      <label style="font-family: Montserrat; font-weight:bolder;">Hints</label>
      <input
        type="text"
        class="form-control"
        id="hints"
        [(ngModel)]="problem.hints"
        name="hints"
      />
    </div>
    <button class="btn btn-success" style="font-family: Montserrat; font-weight:bolder;">Submit</button>
  </form>
</div>
