.example-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: Ubuntu;
}

.example-box{
    background-color: #C4C4C4;
    padding: 5px;
    border-radius: 20px;
    height:100%;
}