<div class="example-fr">
    <h3>Example {{example.index}}:</h3>
    <div class="example-box">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
        <div class="example-row">
            <p style= "font-weight: bold; padding-right: 10px;">Input:</p>
            <p>{{example.input}}</p>
        </div>
        <div class="example-row">
            <p style= "font-weight: bold; padding-right: 10px;">Output:</p>
            <p>{{example.output}}</p>
        </div>
        <div class="example-row">
            <p style= "font-weight: bold; padding-right: 10px;">Explanation:</p>
            <p>{{example.explanation}}</p>
        </div>
    </div>
</div>
